$GRID_COLUMN_COUNT: 12;
$GRID_COLUMN_WIDTH: 100% / 12;

.grid.container {
  display: flex;
  flex-direction: row;
  width: 100%;

  &.wrapping {
    flex-wrap: wrap;
  }
}

.grid.column {
  display: flex;
  flex-direction: column;

  @for $index from 0 to $GRID_COLUMN_COUNT {
    &.spanning-#{$index + 1} {
      width: #{$GRID_COLUMN_WIDTH * ($index + 1)};
    }
  }

  &.centered {
    align-self: center;
  }
}
